

*{
  font-family:'Barlow', sans-serif;
}
.fondo{
 width: 100%;
height: auto;
 margin: 0%;
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: gray;
}
.barra{
  margin-left: auto;
}
.botones{
  margin-left: auto;
  color: black;
}
.fuente p, h3, h4 {
  font-family: 'Barlow', sans-serif;
  margin-top: 10%;
  padding-left: 5%;
}
.contactame{
  margin-top: 10%;
}

form {
  margin-top: 10%;
}

.boxhabilidades {
  margin-top: 4%;
  margin-bottom: 15%;


}
.card {
  width: 60%;
  height: 100%;
  margin-left: 23%;
}
li {
  margin-top: 4%;
  font-family: 'Bungee Spice', cursive;

}
.visibilidadformulario1{
  display: inline;

}
.visibilidadformulario2{
  display:none;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;

}
.enviarwsp{
  margin-left: 13%;
}
.visibilidadredes{
  display:none
}
.botonesredesmobile{
  margin: 1%
}
.movete{
  margin-left: 12%;
}
@media only screen and (max-width: 768px) {
  .visibilidadformulario1{
    display: none;
  }
  .visibilidadformulario2{
    display: inline;

  }
li{
  font-size: 17px;
}
.visibilidadredes{
  display:inline
}
}


